footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  background: #20232a;
  width: 100%;
}

footer h3 {
  letter-spacing: 2px;
  font-weight: normal;
}

footer a {
  letter-spacing: 2px;
  font-weight: normal;
  margin-left: 5px;
  color: #61dbfb;
  text-decoration: none;
}
